@model List<ResultProjectWithUserNameDto>

@{
    ViewData["Title"] = "TeamProject";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div id="main">
    <header class="mb-3">
        <a href="#" class="burger-btn d-block d-xl-none">
            <i class="bi bi-justify fs-3"></i>
        </a>
    </header>

    <div class="page-heading">
        <div class="page-title">
            <div class="row">
                <div class="col-12 col-md-6 order-md-1 order-last">
                    <h3>Team Project Data</h3>
                    <p class="text-subtitle text-muted">Projects data can be reviewed and searched within the table.</p>
                </div>
                <div class="col-12 col-md-6 order-md-2 order-first">
                    <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/Team">Team</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Project</li>
                        </ol>
                        <a href="/Refresh" class="btn-sm btn btn-outline-secondary icon icon-left float-lg-end" style="font-size: 12px;"><i data-feather="rotate-cw"></i> Refresh</a>
                    </nav>
                </div>
            </div>
        </div>
        <section class="section">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">
                        Project Datatable
                    </h5>
                </div>
                <div class="card-body">
                    <table class="table table-striped" id="table1">
                        <thead>
                            <tr>
                                <th>Project Name</th>
                                <th>User Name</th>
                                <th>Total Daily Seconds</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ProjectName</td>
                                    <td>@item.UserName</td>
                                    <td>@item.TimeText</td>
                                    <td>@item.Date.ToString("dd-MM-yyyy")</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>

        </section>
    </div>

</div>